@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585782;
}

.cta {
  margin: 50px 0 0 0;
}

.cta-select {
  width: 150px;
  height: 50px;
  border: 2px solid #c36cbb;
  color: #c36cbb;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.cta-add {
  width: 150px;
  height: 50px;
  border: 2px solid #c36cbb;
  color: #fff;
  background: #c36cbb;
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 0 30px;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cover img {
  height: 60vh;
  filter: drop-shadow(0 5px 3px #000);
  animation: drop 1.5s ease;
}

.big-circle {
  position: absolute;
  height: 80%;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}

.mid-circle {
  position: absolute;
  height: 60%;
  right: 30%;
  top: 30%;
  z-index: -1;
  opacity: 0.5;
}

.small-circle {
  position: absolute;
  height: 40%;
  right: 60%;
  top: 60%;
  z-index: -1;
  opacity: 0.8;
}

.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
